<div class="floating-container">
  <a href="/customer/{{id}}">BACK TO PROFILE</a>
  <div class="floating-details">
    <h1 class="floating-h1">ADD Service for Customer Name</h1>
    <form action="/add/{{id}}" method="post">
      <div class="form-container">
        <div>
          <label for="description">Service description <input type="text" name="description"></label>
        </div>
        <div>
          <label for="hours">Hours taken to complete <input type="text" name="hours"></label>
        </div>
        <div>
          <label for="engineer">Engineer assigned <input type="text" name="engineer"></label>
        </div>
        <div>
          <label for="materials">Materials used <input type="text" name="materials"></label>
        </div>
          <div>
          <label for="material_cost">Material cost <input type="text" name="material_cost"></label>
        </div>
        <div class="addPage-button">
          <input class="add-service-btn" type="submit" name="submit" value="ADD NEW SERVICE" />
        </div>
      </div>
    </form>
  </div>
</div>