<div class="floating-container">
  <a href="/customer/{{id}}">BACK TO PROFILE</a>
  <div class="floating-details">
    <h1 class="floating-h1">ADD Service for Customer Name</h1>
    <form action="/add/{{id}}" method="post">
      <div class="form-container">
        <div>
          <label for="service-desc">Service description <input type="text" name="service-desc"></label>
        </div>
        <div>
          <label for="hours-completed">Hours taken to complete <input type="text" name="hours-completed"></label>
        </div>
        <div>
          <label for="engineer-assigned">Engineer assigned <input type="text" name="engineer-assigned"></label>
        </div>
        <div>
          <label for="materials-used">Materials used <input type="text" name="materials-used"></label>
        </div>
        <input type="submit" name="submit" value="ADD NEW SERVICE">
      </div>
    </form>
  </div>
</div>